<div class="container-fluid article-container">
  {{#each articles}}
  <div data-id={{this._id}} class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href={{this.url}}>{{this.headline}}</a>
        <a class="btn btn-danger delete">Delete From Saved</a>
        <a class="btn btn-info notes" data-toggle="modal" data-target='#notes-{{this._id}}'>Article Notes</a>
      </h3>
    </div>
    <div class="card-body">{{this.summary}}</div>
  </div>

  <div class="modal fade" id='notes-{{this._id}}' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Notes:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{>notesArticle}}
          <textarea placeholder="New Note" id="newNotes" rows="4" cols="60"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary saveNotes">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  {{/each}}
</div>